@import "tailwindcss";

header.dark,
.searchDiv.dark,
select.dark,
.country.dark {
	background: hsl(209, 23%, 22%);
	color: hsl(0, 0%, 100%);
}

body.dark {
	background: hsl(207, 26%, 17%);
	color: hsl(0, 0%, 100%);
}
.icons.dark {
	color: hsl(0, 0%, 100%);
}

.searchDiv.dark .searchInput::placeholder {
	color: hsl(0, 0%, 100%);
}

header,
.searchDiv,
select,
.country {
	background: hsl(0, 0%, 98%);
	color: hsl(200, 15%, 8%);
}

body {
	background: hsl(0, 0%, 52%);
	color: hsl(200, 15%, 8%);
}

.icons {
	color: hsl(200, 15%, 8%);
}

.searchDiv .searchInput::placeholder {
	color: hsl(200, 15%, 8%);
}
